<div class="d-flex flex-column text-center">
  <h2 class="text-dark font-italic" [@animCountry]="stateLoading">Loading...</h2>
  <div class="card m-auto border-0 bg-primary text-white font-weight-bold" style="width: 30rem;" *ngIf="country" [@animCountry]="stateName">
    <img src="{{img}}" alt="flag" style="width: 300px; height: 150px; margin: 0 auto">
    <div class="card-body">
      <h4 class="card-title mb-4">Country name: <i>{{ country.name }}</i></h4>
      <p class="card-text mb-4">Country code: <i>{{ country.alpha3Code }}</i></p>
      <p class="card-text mb-4">Region: <i>{{ country.region }}</i></p>
      <p class="card-text  mb-4">Capital: <i>{{ country.capital }}</i></p>
      <p class="card-text mb-4">Population: <i>{{ country.population}} people</i></p>
      <p class="card-text  mb-4">Area: <i>{{ country.area }} км²</i></p>
    </div>
  </div>
</div>

