<div class="wrapper">
  <app-toolbar></app-toolbar>
  <div class="main bg-primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-5 border-right">
          <app-home></app-home>
        </div>
        <div class="col-6 p-5 text-center">
          <h2 class="text-white font-italic m-4">Country information</h2>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
