<div class="row p-2">
  <div class="d-flex flex-column">
    <h3 class="text-white text-center m-2 p-2">All Countries</h3>
    <ng-container *ngIf="!loading, else onLoading">
      <div class="divScroll list-group border border-dark rounded">
        <a [routerLink]="[ 'country', country.alpha3Code, 'info' ]"
           class="list-group-item border-dark text-center list-group-item-action"
           *ngFor="let country of arrayCountries"
           routerLinkActive="active"
        >{{ country.name}}</a>
      </div>
    </ng-container>
    <ng-template #onLoading>
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </ng-template>
  </div>
</div>
